html,
body {
 height: 100%;
 width: 100%;
 font-family: avenir !important;
}

body {
 display: flex;
 align-items: center;
 justify-content: center;
}

.cell {
  margin:1px;
}

.world {
  height : 440px;
}

.row {
  display: flex;
  height: 25px;
  width: 500px;
  margin: 4px;
}

.row div{
  border: 1px solid black;
  width: 25px;
  height: 25px;
  display: flex;
}